
BOT_TOKEN=8930264914:AAGOwZowZoxrUugR7UhVLyaLgLQluFfnBWs
BOT_USERNAME=HowToSeeWorld_bot
CHANNEL_USERNAME=HowTooSeeWorld
CHANNEL_LINK=https://t.me/HowTooSeeWorld
BRAND_NAME=HowTooSee | Premium VPN

DATABASE_URL=postgresql+asyncpg://pasarguard_telegram_bot:89f8f2a7bffd053087849e960365175a38e4bea242aca51bbe94621d4292934d@127.0.0.1:5432/pasarguard_telegram_bot

SUBSCRIPTION_BASE_URL=https://docdev.pangshanbebazar.ir:2087/sub
REFERRAL_COMMISSION_PERCENT=10
REFERRED_DISCOUNT_PERCENT=5
FREE_TEST_MB=150
WALLET_MIN_TOPUP=50000
RECEIPT_UPLOAD_WINDOW_MINUTES=20
SERVICE_NAME_PREFIX=howtosee_

ADMIN_CHAT_IDS=6413811117

PASARGUARD_ENABLED=true
PASARGUARD_BASE_URL=https://docdev.pangshanbebazar.ir:2087
PASARGUARD_ADMIN_USERNAME=pasarguard_telegram_bot
PASARGUARD_ADMIN_PASSWORD=JwyCssFTB6D3XSk@
PASARGUARD_TIMEOUT_SECONDS=20
PASARGUARD_VERIFY_SSL=true
PASARGUARD_DRY_RUN=false
PASARGUARD_MANAGED_PREFIX=HTS_BOT
PASARGUARD_TEMPLATE_GROUP_IDS=1
PASARGUARD_USERNAME_PREFIX=
PASARGUARD_USERNAME_SUFFIX=

SALES_ADMIN_CHAT_IDS=483137754


