[Unit]
Description=HowTooSee Telegram Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/howtoosee-bot
EnvironmentFile=/opt/howtoosee-bot/.env
ExecStart=/opt/howtoosee-bot/venv/bin/python /opt/howtoosee-bot/main.py
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
